[submodule "ext/entt"]
	path = ext/entt
	url = https://github.com/skypjack/entt.git
[submodule "ext/glew"]
	path = ext/glew
	url = https://github.com/nigels-com/glew.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/gtest"]
	path = ext/gtest
	url = https://github.com/google/googletest
